<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.platformcontrol2.main"
        versionCode = "1"
        version     = "0.2.0">
 
    <name>Platform Control 2</name>
 
    <description>
        Bluetooth-enabled platform control system
    </description>
 
    <author href="stefanblandin.info" email="stefanblandin@yahoo.com">
        Stefan Blandin
    </author>
 
    <plugin name="cordova-plugin-bluetooth-serial" />
</widget>