p,h1,h2,h3,h4,h5{
	margin:0;
}

h3{
	font-size:102px;
}
h4{
	font-size:94px;
}

.button{
	display:flex;
	justify-content: center;
	align-items: center;
	margin:4px;
	padding:10px 20px;
	border:1px solid gray;
}

.button p{
	font-size:96px;
}

.horline{
	display:flex;
	align-items: center;
}

.checkbox{
	height:60px;
	width:60px;
	border:1px solid gray;
	border-radius:2px;
}